<!DOCTYPE html><html lang="en">
 <head><meta charset="utf-8">
  <title>Muscle Web Interface</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
 </head>
 <body style="background-color:#e7f5f5;">
  <div class="container"><h1>Muscle Web Interface</h1>
  <form action='muscle_result' method='post'
    enctype="multipart/form-data">
  <div class="row"><div class="col-sm-8"><div class="form-group">
  <label for="iterations">Maximum iterations:</label>
   <select name="iterat" id="iterations">
    <option value="1" selected="selected">1</option>
    <option value="4">4</option><option value="8">8</option>
    <option value="10">10</option><option value="12">12</option>
    <option value="14">14</option><option value="16">16</option>
   </select>
   <label for="format"> Output Format:</label>
   <select name="output" id="format">
    <option value="fasta" selected="selected">FASTA</option>
    <option value="clw">ClustalW2</option>
    <option value="clwstrict">ClustalW2 (Strict)</option>
    <option value="html">HTML</option>
    <option value="msf">MSF</option>
   </select>
    <label for="order">Output Order:</label>
    <select name="outorder" id="order">
     <option value="group" selected="selected">aligned</option>
     <option value="stable">input</option>
    </select></div></div></div>
    <div class="row"><div class="col-sm-6"><div class="form-group">
     <label for="sq">
         Enter a set of sequences in FASTA format:
     </label>
     <textarea name="seq" rows="5" cols="90" id="sq"></textarea>
    </div></div></div><div class="row"><div class="form-group">
    <div class="col-sm-3">
    <label for="upfile">Or upload a file:</label>
     <input type="file" name="upfile" id="upfile" />
     </div><div class="col-sm-3">
     <button type="submit" class="btn btn-primary">
     Send to Muscle server</button></div></div></div>
 </form></div></body></html>
